<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holy grail layout</title>

    <link rel="stylesheet" href="02.css">
</head>

<body>
    <header>
        <h1>HEADER</h1>
    </header>

    <div class="container">
        <main>
            <h1>CONTENT</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repudiandae, a illo cum earum laboriosam,
                deserunt
                aliquid, labore vel accusantium provident et. Corporis, asperiores. Vero incidunt ipsam modi porro qui?

                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem harum repellendus asperiores
                doloribus maiores. Dolor a velit deleniti tenetur inventore commodi voluptatem maiores nam quis,
                provident
                laudantium ea accusamus ullam.
            </p>
        </main>

        <aside>
            <h1 class="left">Principal</h1>
            <h1 class="right">Principal</h1>
        </aside>
    </div>

    <footer>
        <h1>FOOTER</h1>
    </footer>
</body>

</html>