body{
    text-align: center;
    background-color: black;
    background-image: url('fundo.png');
    background-size: 300px;
}

div.card{
    margin: 0 auto;
    background-color: white;
    width: 500px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 3px 3px 5px 0px  white, 0px 3px 5px 0px  red;
}

img{
    border-radius: 50%;
    border: 8px solid black;
}